/* -------------------- */
/* Custom properties */
/* -------------------- */

:root {
    /* Colors */
    --clr-strong-cyan: 172 67% 45%;
    --clr-dark-cyan: 183 100% 15%;
    --clr-dark-gray-cyan: 186 14% 43%;
    --clr-gray-cyan: 184 14% 56%;
    --clr-light-gray-cyan: 185 41% 84%;
    --clr-very-light-gray-cyan: 189 41% 97%;   
    --clr-white: 0 0% 100%;
    
    /* Font-sizes */
    --fs-800: 1.9rem;  
    --fs-700: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
    --fs-200: 0.875rem;

    /* Font weights */
    --fw-bold: 700;
    --fw-med:400;
    
     /* font-families */
     --ff-space: 'Space Mono', monospace;

}

/* General Reset and Set Up */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: var(--fs-400);
    font-weight: var(--fw-med);
    color: hsl(var(--clr-white));    
    background-color: hsl(var(--clr-light-gray-cyan));
    font-family: var(--ff-space);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    

}

img,
picture {
    max-width: 100%;
    display: block;
}

label {
    display: block;
}

button {
    padding: 0;
}

h1 {
    letter-spacing: 3px;
}

/* colors */

.text-white { color: hsl(var(--clr-white));}
.text-dark { color: hsl(var(--clr-dark-cyan))}
.text-dark-grey {color: hsl(var(--clr-dark-gray-cyan))}
.text-grey {color: hsl(var(--clr-gray-cyan))}
.text-cyan {color: hsl(var(--clr-strong-cyan))}

.bg-white { background-color: hsl(var(--clr-white)) }
.bg-strong-cyan { background-color: hsl(var(--clr-strong-cyan))}
.bg-dark { background-color: hsl(var(--clr-dark-cyan))}
.bg-dark-grey { background-color: hsl(var(--clr-dark-gray-cyan))}
.bg-grey { background-color: hsl(var(--clr-gray-cyan))}
.bg-light { background-color: hsl(var(--clr-light-gray-cyan))}
.bg-lightest { background-color: hsl(var(--clr-very-light-gray-cyan))}


/* typography */

.ff-space { font-family: var(--ff-space) }

.uppercase { text-transform: uppercase; }

.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fw-bold { font-weight: var(--fw-bold); }
.fw-med { font-weight: var(--fw-med); }

/* Utility */

.grid {
    display: grid;
    gap: var(--gap, 1rem);    
}

.flex {
    display: flex;
}

.container {
    padding-block: 2rem;
    min-width: 100%;
    padding-inline:2em;    
    margin-inline: auto;    
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1.5rem);
    
}

.selected {
    background-color: hsl(var(--clr-dark-cyan));
}

.colors--padding-right {
    padding-right: 3rem;
}



/* Layout */

.header {
    align-items: center;
    flex-direction: column;
    padding-block: 3rem;
}

main {
    max-width: 55rem;
    min-width:320px
}

@media (min-width:720px){
    .grid-calc { 
        --gap: 1rem;  
        column-gap: 2rem;        
        grid-template-columns: repeat(2, 1fr);    
        grid-template-areas: 'bill summary'
                             'tip summary' 
                             'people summary'                    
            ;
    }

    .grid-calc > div:first-child {
        grid-area: bill;
    }

    .grid-calc > div:nth-child(2) {
        grid-area: tip;
    }

    .grid-calc > div:nth-child(3) {
        grid-area: people;
    }

    .grid-calc > div:last-child {
        grid-area: summary;
        margin-top: 0;
    }

    .header {margin-top: 6rem;}

    .summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .summary-reset {
        margin-top: auto;
    }

}

.flow label {
    padding-bottom: 0.5rem;
    min-width: 100%;
}

.grid-tip {
    grid-template-columns: repeat(2,1fr);
    gap: var(--gap, 1rem);   
    --gap:1rem
}

@media (min-width:450px){
    .grid-tip{
        grid-template-columns: repeat(3,1fr);
        gap: var(--gap, 1rem);  
    }
}

.tip-btn {
    border: none;
    font-size: var(--fs-700);
    max-width: 13rem;
    min-height: 3rem;
    border-radius: 0.5rem;
    min-width: 4rem;    
}

.tip-btn:hover {
    cursor: pointer;
    background-color: hsl(var(--clr-light-gray-cyan));
    color: hsl(var(--clr-dark-cyan))
}

.tip-btn--custom {
    text-align: center;
}


button[aria-selected="true"]{
    background-color: hsl(var(--clr-strong-cyan));
    color: hsl(var(--clr-dark-cyan))
}

.calc {
    border-radius: 1rem;
}


.input-text {
    text-align: right;
    padding-inline: 1rem;
    padding-block: 0.5rem; 
    min-width: 100%;
    border: none;
    border-radius: 0.5rem;   
        
}

#people {
    background: url(./images/icon-person.svg) no-repeat scroll 1rem 50% hsl(var(--clr-very-light-gray-cyan));    
}

#bill {
    background: url(./images/icon-dollar.svg) no-repeat scroll 1rem 50% hsl(var(--clr-very-light-gray-cyan));    
}

.summary {
    padding: 2rem;
    border-radius: 1rem;
}

.flex--totals {
    justify-content: space-between;
    align-items: center;
}

.summary-reset {
    min-width: 100%;
    border: none;
    font-size: var(--fs-400);   
    font-family: var(--ff-space);
    border-radius: 0.3rem;
    padding-block: 0.4rem;     
}

.summary-reset:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px hsl(var(--clr-strong-cyan)/0.7);
}

label+input::placeholder {
    color: red;
    font-size: var(--fs-200);
    text-align: right;
}





